html {
  overflow: hidden;
}

header {
  width: 100%;
  height: 18vw;
  background: $black;
  text-align: center;

    @include tablet {
      height: 75px;
    }

    @include desktop {
      background-color: transparent;
      margin-top: 1rem;
      text-align: left;

      line-height: 1;
    }
}

footer {
  display: none;
  height: 400px;
  background-color: $black;
  width: 100%;
  position: relative;

    @include tablet {
      height: 200px;
    }
}

article.pagetitle {
  text-align: center;
  margin-top: 4vh;

  @include desktop {
    width: 70%;
    float: right;
    margin-top: 0;
  }

}

section.section-controllers {
  margin-top: 4.5vh;
  width: 80%;
  margin-left: -1px;

  @include desktop {
    width: 25%;
    margin-top: 4rem;
  }
}

.sitesection {
  height: 100vh;
  width: 100%;
  position: relative;
}

div.section-content {
  width: 95%;
  margin: auto;
  position: relative;
}


//*** SECTION STYLES ***//
section#web {
  background-color: $fuschia;
  color: $white;
  position: absolute;
  top: -100%;
  left: 0;
  z-index: 1000;
}

section#writing {
  background-color: $teal;
  color: $white;
  position: absolute;
  top: 0;
  right: -100%;
  z-index: 2000;
}

section#photo {
  background-color: $gold;
  color: $white;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 3000;
}

section#music {
  background-color: $navy;
  color: $white;
  position: absolute;
  right: 0;
  bottom: -100%;
  z-index: 4000;
}


//*** SECTION TRANSITIONS ***//
.web-section-checkbox ~ section#web { transition: top .666s ease; }

.web-section-checkbox:checked ~ section#web { top: 0; }


.writing-section-checkbox ~ section#writing { transition: right .666s ease; }

.writing-section-checkbox:checked ~ section#writing { right: 0; }


.photo-section-checkbox ~ section#photo { transition: left .666s ease; }

.photo-section-checkbox:checked ~ section#photo { left: 0; }


.music-section-checkbox ~ section#music { transition: bottom .666s ease; }

.music-section-checkbox:checked ~ section#music { bottom: 0; }





/* Code From Robert

div {
  transition: background 0.2s ease,
              padding 0.8s linear;
}

[4/26/17, 3:44:20 PM] Robert: div {
  transition: background 0.2s ease,
              padding 0.8s linear;
}
[4/26/17, 3:44:59 PM] Robert: transition: background-color 500ms ease-out 1s;

display transition on .1 second

/**/





//*** FOOTER ***//
div.footmobiletextures {

  @include tablet {
    display: none;
  }
}

div.socmedia {
  text-align: center;
  padding-top: 3rem;

    @include tablet {
      text-align: right;
      padding-right: 3rem;
    }
}
