html {
  font-family: $copy-font;
  font-weight: $copy-weight;
  font-size: 16px;
}

h1 {
  color: $white;
  font-family: $header-font;
  font-size: 12vw;

    @include tablet {
      font-size: 3em;
    }

    @include laptop {
      margin-left: 2rem;
    }

    @include desktop {
        font-size: 3.3em;
        margin-left: 1rem;
    }
}

h2.title {
  font-family: $header-font;
  font-size: 14vw;
  line-height: .8;
  padding:14vw;
  padding-bottom: 15vw;

    @include tablet {
      font-size: 4.7em;
      padding: 4rem;
      padding-bottom: 5rem;
    }

    @include laptop {
      font-size: 8em;
      padding: 5rem;
      padding-bottom: 6rem;
      margin-right: 1rem;
      background-position: right;
      text-align: right;
    }

    @include desktop {
      font-size: 10em;
      padding: 9rem;
      padding-bottom: 10rem;
      text-align: center;
      background-position: center;
      color: $dark-fuschia;
    }
}

span {
  color: transparent;
}

h2 br {
  @include tablet {
    display: none;
  }

  @include desktop {
    display: block;
  }
}

/*** SECTION CONTROLLERS ***/
input {
  display: none;
}

label {
  display: block;
  font-family: $header-font;
  font-size: 10vw;
  cursor: crosshair;
  margin-bottom: 1rem;
  padding-left: 1rem;

    @include tablet {
      font-size: 3em;
    }

    @include desktop {
      font-size: 3em;
      margin-left: -1px;
  }
}

label.web-section-label {
  color: $fuschia;
  border: 1px solid $fuschia;
}

label.writing-section-label {
  color: $teal;
  border: 1px solid $teal;
}

label.photo-section-label {
  color: $gold;
  border: 1px solid $gold;
}

label.music-section-label {
  color: $green;
  border: 1px solid $green;
}

.sitesection label {
  background-image: none;
}

.sitesection i {
  font-size: 20vw;
  cursor: crosshair;
  position: absolute;
  right: 1rem;
  bottom: 0;

    @include tablet {
      font-size: 2em;
    }

    @include desktop {
      font-size: 2.5em;
      left: 2rem;
      width: 7.5%;
    }
}


//*** SECTION STYLES ***//
.sitesection h3 {
  display: inline;
  font-family: $header-font;
  font-size: 11vw;
  color: $white;
  margin-bottom: 3rem;

    @include tablet {
      font-size: 3em;
    }

    @include desktop {
      font-size: 3.5em;
    }
}

.sitesection h4 {
  font-family: $copy-font;
  font-weight: $subhead-weight;
  letter-spacing: .15rem;
  font-size: 7vw;
  color: $white;
  text-transform: uppercase;
  margin: 2rem 0 .5rem 0;

    @include tablet {
      font-size: 1.5em;
    }

    @include desktop {
      font-size: 2em;
    }
}

.sitesection p {
  font-size: 3.8vw;
  line-height: 1.6;
  color: $white;

    @include tablet {
      font-size: 1em;
    }

    @include desktop {
      font-size: 1.2em;
    }
}

.sitesection a {
  text-decoration: none;
}

a.categorybttn {
  font-family: $header-font;
  text-decoration: none;
  font-size: 2em;
  color: $white;
  border: 1px solid;
  margin-top: 3vh;
  padding: 0 1rem .4rem 1rem;
  float: right;
}


//*** FOOTER ***//
div.socmedia i {
  color: $white;
}

i.fa-facebook-official, i.fa-linkedin-square, i.fa-instagram, i.fa-tumblr-square {
  font-size: 3.6em;
}

footer p {
  text-align: center;
  color: $white;
  margin-top: 2rem;

    @include tablet {
      text-align: right;
      padding-right: 3rem;
    }
}
