$header-font: 'Permanent Marker', cursive;
$copy-font: 'Rubik', Helvetica, sans-serif;

$subhead-weight: 900;
$copy-weight: 400;

//*colors*//

$white: #fff;
$black: #111;
$dark-fuschia: #E01795;
$fuschia: #F012BE;
$teal: #39CCCC;
$blue: #7FDBFF;
$gold: #FEAC2B;
$navy: #042439;
$green: #00FF84;
$grey: #444;


//*media queries*//

$tablet-width: "screen and (min-width: 480px)";
$laptop-width: "screen and (min-width: 720px)";
$desktop-width: "screen and (min-width: 1080px)";

//*mixins*//

@mixin tablet {
  @media #{$tablet-width} {
    @content;
  }
}

@mixin laptop {
  @media #{$laptop-width} {
    @content;
  }
}

@mixin desktop {
  @media #{$desktop-width} {
    @content;
  }
}
